@model IEnumerable<EvaluationApp.Models.EvaluationViewModel>


<br /><br />
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Evaluation Name</th>
                        <th>Evaluation Form</th>
                        <th>Employee</th>
                        <th>Last Evaluator</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EvaluationName</td>
                            <td>@item.FormName</td>
                            <td>@item.Employee.Name</td>
                            <td>@item.LastEvaluator.Name</td>
                            <td>
                                <img src="~/images/start.png" />
                                <img src="~/images/cancel.png" />

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>