@model EvaluationApp.Models.EvaluationViewModel

@await Html.PartialAsync("EvaluationDetails/DetailsPartial", Model)

<div>
    <a asp-action="InProgress">Back to In Progress Evaluations</a>
</div>


